FLASK_SECRET_KEY=a-very-secret-key

# enter your MAM ID from https://mousesearch.org/settings
MAM_ID=mam_id_here-generated-from-myanonamouse-website

# QBittorrent Settings & Credentials
QB_URL=http://qbittorrent:6767
QB_USERNAME=your_qbittorrent_username
QB_PASSWORD=your_qbittorrent_password
QB_CATEGORY=audiobooks # default qBittorrent category to use for downloads


# Enable this to have MouseSearch automatically hard link files
# from the "organize-these" folder to the "organized" folder in Author/Title format.
AUTO_ORGANIZE=true

# Download Storage Paths (if using AUTO_ORGANIZE)
# - must ensure these paths are on the same device and Docker volume, if running in Docker) 
#   to ensure hard links can be created

QB_PATH=/downloads/torrents/audiobooks
ORGANIZED_PATH=/downloads/organized/audiobooks

# Recommended File Structure 

# downloads
# ├── organized
# │   ├── audiobooks
# │   └── ebooks
# └── torrents
#     ├── audiobooks
#     └── ebooks
